*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  

.navbar{
    background-color:#FCF8F3 ;
}
nav a i {
    color: black;
}
.carousel-inner img {
    width:100%;
    height: 500px;
}

.rounded-circle{
    width: 20px;
    height: 20px;
}
.carousel-indicators li{
    background-color: #E89F71  ;
}
#carouselExampleCaptions{
    background-color:#FCF8F3;   
}
.pt-5 {
    background-color:#FCF8F3;
}
.position{
    position: relative;
    z-index: 10;
}

.circle{
    font-size: 30px;
    color:#E89F71;
}
.card-shop{
    position: absolute;
    background-color:rgba(245, 240, 240, 0.6);  
    padding: 10px 0px;
    /* top: 200px;
    left: 250px;
    width: 30%; */
}

.card-shop button{
    /* width: 40%;
    height: 50px; */
    background-color: #ca8b65    ;
}
.card-Bohauss{
    background-color:rgba(245, 240, 240, 0.6);
    position: absolute;
    padding: 10px;
}
@media (min-width: 1200px) {
    .card-shop {
        top: 90px;
        left: 250px;
        width: 30%;
    }
    .card-shop b {
      font-size: 30px;
    }
    .card-shop p{
        font-size: 20px;
    }
    .card-shop button{
        width: 40%;
        height: 50px;
    }
    .card-Bohauss{
        width: 280px;
        height: 160px;
        top: 280px;
        right: 70px;
    }
    .card-Bohauss b {
        font-size: 30px;
    }
    .card-Bohauss p {
        font-size:20px ;
    }
    .card-Bohauss i{
        font-size:30px;
    }
    .content h1{
        font-size: 50px ;
    }
    .content p{
        font-size:25px ;
    }
    .content button {
        width: 150px;
        height:50px ;
    }
    .tips h1 {
        font-size: 45px;
    }
    .col-12 .card {
      height: 500px;
    }
    .col-12 .card-body{
        padding:5px ;
    }
    .col-12 .card img {
        height: 350px;
    }
    .col-12 .card h5{
        font-size: 28px;
    }
    .col-12 .card p {
        font-size: 20px;
    }
    .furniture p{
        font-size: 40px;
    }
    .furniture h1{
        font-size: 60px;
    }
    .name{
        font-size: 40px;
    }
    
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-shop {
        top: 110px;
        left: 250px;
        width: 35%;
    }
    .card-shop b {
      font-size: 25px;
    }
    .card-shop p{
        font-size: 18px;
    }
    .card-shop button{
        width: 40%;
        height: 50px;
    }
    .card-Bohauss{
        width: 230px;
        height: 150px;
        top: 300px;
        right: 50px;
    }
    .card-Bohauss b {
        font-size: 25px;
    }
    .card-Bohauss p {
        font-size:18px ;
    }
    .card-Bohauss i{
        font-size:25px;
    }
    .content h1{
        font-size:40px;
    }
    .content p{
        font-size:20px ;
    }
    .content button {
        width: 120px;
        height:50px ;
    }
    .col-8 .carousel-inner img {
        height: 450px;
    }
    .tips h1 {
        font-size: 40px;
    }
    .col-12 .card {
      height: 400px;
    }
    .col-12 .card-body{
        padding:5px ;
    }
    .col-12 .card img {
        height: 290px;
    }
    .col-12 .card h5{
        font-size: 22px;
    }
    .col-12 .card p {
        font-size: 15px;
    }
    .furniture p{
        font-size: 20px;
    }
    .furniture h1{
        font-size: 40px;
    }
    .name{
        font-size: 35px;
    }
    
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .card-shop {
        top: 110px;
        left: 200px;
        width: 35%;
    }
    .card-shop b {
      font-size: 20px;
    }
    .card-shop p{
        font-size: 15px;
    }
    .card-shop button{
        width: 40%;
        height: 40px;
    }
    .card-Bohauss{
        width: 200px;
        height: 120px;
        top: 330px;
        right: 20px;
    }
    .card-Bohauss b {
        font-size: 20px;
    }
    .card-Bohauss p {
        font-size:15px ;
    }
    .card-Bohauss i{
        font-size:20px;
    }
    .content h1{
        font-size:35px;
    }
    .content p{
        font-size:15px ;
    }
    .content button {
        width: 120px;
        height:50px ;
    }
    .col-8 .carousel-inner img {
        height: 350px;
    }
    .tips h1 {
        font-size: 35px;
    }
    .col-12 .card {
      height: 300px;
    }
    .col-12 .card-body{
        padding:5px ;
    }
    .col-12 .card img {
        height: 220px;
    }
    .col-12 .card h5{
        font-size: 15px;
    }
    .col-12 .card p {
        font-size: 10px;
    }
    .furniture p{
        font-size: 15px;
    }
    .furniture h1{
        font-size: 30px;
    }
    .name{
        font-size: 30px;
    }
    
}
    
@media (min-width: 576px) and (max-width: 767.98px) {
    .card-shop {
        top: 120px;
        left: 150px;
        width: 35%;
    }
    .card-shop b {
      font-size: 17px;
    }
    .card-shop p{
        font-size: 13px;
    }
    .card-shop button{
        width: 50%;
        height: 30px;
    }
    .card-Bohauss{
        width: 150px;
        height: 100px;
        top: 370px;
        right: 20px;
    }
    .card-Bohauss b {
        font-size: 15px;
    }
    .card-Bohauss p {
        font-size:13px ;
    }
    .card-Bohauss i{
        font-size: 15px;
    }
    .content h1{
        font-size:30px;
    }
    .content p{
        font-size:15px ;
    }
    .content button {
        width: 120px;
        height:40px ;
    }
    .col-8 .carousel-inner img {
        height: 300px;
    }
    .tips h1 {
        font-size: 25px;
    }
    .col-12 .card {
      height: 250px;
    }
    .col-12 .card-body{
        padding:5px ;
    }
    .col-12 .card img {
        height: 180px;
    }
    .col-12 .card h5{
        font-size: 11px;
    }
    .col-12 .card p {
        font-size: 8px;
    }
    .furniture p{
        font-size: 13px;
    }
    .furniture h1{
        font-size: 25px;
    }
    .name{
        font-size: 25px;
    }
    
}
@media (max-width: 575.98px) {
    .card-shop {
        top: 170px;
        left: 100px;
        width: 35%;
    }
    .card-shop b {
      font-size: 12px;
    }
    .card-shop p{
        font-size: 10px;
    }
    .card-shop button{
        width: 80%;
        height: 25px;
    }
    .card-Bohauss{
        width: 150px;
        height: 80px;
        top: 390px;
        right: 20px;
    }
    .card-Bohauss b {
        font-size: 12px;
    }
    .card-Bohauss p {
        font-size:10px ;
    }
    .card-Bohauss i{
        font-size: 10px;
    }
    .content h1{
        font-size:15px;
    }
    .content p{
        font-size:8px ;
    }
    .content button {
        width: 80px;
        height:30px ;
        font-size: 9px;
    }
    .col-8 .carousel-inner img {
        height: 200px;
    }
    .tips h1 {
        font-size: 20px;
    }
    .col-12 .card {
      height: 200px;
    }
    /* .col-12 i{
        border-radius: 0ch;
    } */
    .col-12 .card-body{
        padding:5px ;
    }
    .col-12 .card img {
        height: 130px;
    }
    .col-12 .card h5{
        font-size: 9px;
    }
    .col-12 .card p {
        font-size: 5px;
    }
   
    .card-page h1 {
        font-size: 10px;
    }
    .furniture p{
        font-size: 10px;
    }
    .furniture h1{
        font-size: 20px;
    }
    .name{
        font-size: 20px;
    }

}
.border {
    border-radius: 50%;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;    
    position: absolute;
    top: 10px;
    right: 10px;
}
.border__sale{
    background-color:  rgb(246, 73, 102);
}
.border__age{
    background-color: rgb(35, 226, 213);
}
.position-static{
    background-color:rgba(245, 240, 240, 0.6);
    text-align: center;
    width: 50%;
    height:250px;
    /* position: absolute;
    top: 150px;
    left: 600px; */
    padding: 10px;
  
}
.arrow{
    position: absolute;
    right: 0px;
    font-size: 20px;
}
.icon  {
    font-size: 40px;
}
.title{
    font-size: 30px;
    text-align: center;
}
.position{
    position: relative;
}
.index{
 position: absolute;
 z-index: 1000;
}

#facilities{
    padding: 30px 0px;
}
section .col-lg-3 .card{
    background-color: F4F5F7;
}
#facilities img {
    height: 300px;
}
strike {
    font-size: 13px;
}
#facilities .card {
    margin: 20px 10px;
}
.col-md-3 .row {
    padding: 0px 15px;
}
.col-md-3 .row p {
    padding-left:50px ;
}
section .row .col-4 b {
    font-size: 40px;
}
section .row .col-4 .btn {
    background-color: #f89d65;
    text-emphasis-color: white;
}

.carousel-inner .card {
    /* margin: 10px 15px; */
    padding: 0px;
    background-color: white;
   
}
.carousel-inner img {
    height: 500px;
}
.first-image {
    width: 100%;
    height: 450px;
}
.second-image {
    width: 100%;
    height: 300px;
}
footer b {
    font-size: 20px;
}
