

.logo{
  padding-top: 74px;
 
 
}
.content{
  /* font-family: New York Extra Large;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center; */
  font-size: 54px;
  /* color:red ; */
  /* text-align: center; */
  /* padding:0 20px; */
  /* background-color: red; */
  
}
.content2{
font-size: 20px;
}
footer{
  background-color:black;
  color: blanchedalmond;
}

footer ul li{
  /* background-color:red; */
  font-size:19px
}
.title{
  padding-top: 50px;
}